@page "/events/new/"
@using System.Globalization
@using Model
@using Services.Interfaces
@inject NavigationManager navManager;
@inject IEventService eventService;

<h2 style="text-align: center; margin-bottom: 20px">New event</h2>
<EventComponent @bind-CleaningEvent=Event SaveEvent="@SaveEvent"/>



@code {
    
    
    public Event Event { get; set; }
    

    public CreateEvent()
    {
        
        Event = new Event();
        Event.ReportRef = new Report();

    }
    
    public async Task SaveEvent(Event createEvent)
    {
        bool confirmation = await eventService.CreateAsync(createEvent);
        if (confirmation)
        {
            navManager.NavigateTo("/events");   
        }
    }
}