@page "/reports/new"
@using Model
@using Services.Interfaces

@inject IReportService reportService;
@inject NavigationManager navManager;


<h2 style="text-align: center; margin-bottom: 20px">New report</h2>

<ReportComponent @bind-ViewType=ViewType @bind-Report=Report SaveReport="@SaveReport"/>



@code {
    private string ViewType = "create";
    
    public Report Report { get; set; }

    public CreateReport()
    {
        DateTime Date = DateTime.Today;
        TimeSpan Time = DateTime.Now.TimeOfDay;
        
        Report = new Report();
        Report.Status = null;
        Report.Date = new[] {Date.Year, Date.Month, Date.Day};
        Report.Time = new[] {Time.Hours, Time.Minutes, Time.Seconds};
        Report.Location = new Location();
    }
    
    public async Task SaveReport(Report report)
    {
        report.Status = "Under Review";
        bool confirmation = await reportService.CreateAsync(report);
        if (confirmation)
        {
            navManager.NavigateTo("/reports");   
        }
    }
}