@page "/"

@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (@hasToken)
{
    <div>Logged in!</div>
} else
{
    <Register />
}
    

@code
{
    bool hasToken;
    
    protected override async Task OnInitializedAsync()
    {
        await IsLoggedIn();
    }
    
    private async Task IsLoggedIn()
    {
        string token = await localStorage.GetItemAsync<string>("JWT");
        
        hasToken = token != null;
    }

}
