@page "/Register"
@using Services.Interfaces
@using Model.DTOs
@inject IAuthService authService;
@inject NavigationManager navMgr;
<h3>Register</h3>

@code {
    private string email = "";
    private string password = "";
    private string name = "";
    private string resultMsg = "";
    private string color = "";

    private async Task CreateAsync()
    {
        resultMsg = "";

        try
        {
            await authService.RegisterAsync(new RegisterUserDto(email, password, name));
            email = "";
            password = "";
            resultMsg = "User successfully created";
            color = "green";
            navMgr.NavigateTo("/login");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}