@page "/ViewReports"

<h3 style="text-align: center">Overview of all reports</h3>

<div class="report-container">
    <div class="report-card">
        <a target="_blank" href="imagesForTesting/location1.jpg">
            <img src="imagesForTesting/location1.jpg" alt="location1" class="locationImage" />
        </a>
        <div class="location-info">
            <label> Location 1</label>
            <label> Extent of cleaning </label>
            <label> Date </label>
        </div>
    
        </div>
    
        <div class="report-card">
            <a target="_blank" href="imagesForTesting/location2.jpg">
                <img src="imagesForTesting/location2.jpg" alt="location2" class="locationImage"/>
            </a>
            <div class="location-info">
                <label> Location 2</label>
                <label> Extent of cleaning </label>
                <label> Date </label>
            </div>
        </div>
</div>
    




@code {

    private string msg = "";

    
}